body {
  margin: 0;
  padding: 0.5em 1em;
  font-family: sans-serif;
}

#loginWrapper,
#notificationEmail{
	text-align: center;
}
#loginWrapper a#loginLink{font-size: 3em; text-decoration: none;}
#loginWrapper a#loginLink:hover{text-decoration: underline;}
#loginWrapper video{
	border: 1px dotted #000;
}

#logout{text-align: center; font-size: 1.5em;}

#main{
	width:80%;
	min-width: 40em; 
	margin:0 auto;
}

#randomAddressWrapper{
	text-align: center;
	border:1px solid #000;
	padding:1em;
	margin:0 0 2em 0;
}

table{width:100%;}

td{padding:1em; text-align: center;}

button{font-size:1.5em; padding:0.5em; margin-bottom:0.5em;}

#randomAddressAndButton{padding:1em;  }

span#randomAddress{
	font-weight: bold; font-size: 150%;
	padding:0 1em 0 0;
}

#myAddressForm{	
	text-align: center; 
	clear:both;
	border:1px solid #000;
	padding:0.5 1em 2em 1em;
}

#addressesWithWebhooks dl{
	text-align: left;
	display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

#addressesWithWebhooks button{font-size:0.5em; padding:0.5em;}


#notificationEmail input,
#myAddressForm input {font-size: 1.2em; margin-right: 1em; margin-bottom:0.5em; padding:0.5em; 
	border:1px solid #000;
}
h2{clear:both; padding-top: 0.5em; margin-top: 0.5em;
 font-size: 200%;
text-align: center;}
h4{clear:both; font-size: 100%}

div.addresses{border: 1px solid #000;}

ul.address-list{
	list-style: none;
	margin:0 0 1em 0;
	padding:0;
}

ul.address-list li{margin:0 0 1em 0;}

div.clr{
	clear:both;
}

.address-list .addressObj{
	clear:both; 
	padding:1em 1em 1em 2em;
	border-bottom: 1px solid #000; 
	margin-bottom: 1em;
	line-height: 200%;
}

.address-list .addressObj:last-child{border-bottom: none;}

.address-list .addressObj button{
	display: block; 
	float: left;
	margin:0 1em 1em 0;
}

.address-list .addressObj span{
	padding:0 1em 1em 0;
}

.address-list .addressObj span.address{font-weight: bold;}

.address-list .addressObj span.txn{}
.address-list .addressObj span.txn::before{content: "Assuming you are interested in transaction ";}
.address-list .addressObj span.txn::after{content: ":";}

.address-list .addressObj span.balance{color:#0a0; white-space: nowrap;}
.address-list .addressObj span.balance::before{ content: "Confirmed Balance: "; }

.address-list .addressObj span.unconfirmed_balance{color:#a00; white-space: nowrap;}
.address-list .addressObj span.unconfirmed_balance::before{ content: "Unconfirmed Balance: "; }

.address-list .addressObj span.lastUpdated{white-space: nowrap;}
.address-list .addressObj span.lastUpdated::before{ content: "Balances Last Updated: "; }

.address-list .addressObj span.random{font-style:italic;white-space: nowrap;}
.address-list .addressObj span.random::before{ content: "Random? "; }

.address-list .addressObj span.note{white-space: nowrap; color:#00a; font-weight: bold;}
.address-list .addressObj span.note::before{ }

.address-list .addressObj span.confirmations{white-space: nowrap}
.address-list .addressObj span.confirmations::after{ content: " Confirmations"; }

.address-list .addressObj span.preference{}
.address-list .addressObj span.preference::before{ content: "Miner Preference: "; }

.address-list .addressObj span.webhookId::before{ content: "webhookId: "; }
