body {
  margin: 0;
  padding: 0.5em;
  font-family: "HelveticaNeue", "Helvetica", Arial, sans-serif;
  background: #eee;
}



a{text-decoration: none}
a:hover{text-decoration: underline;}

nav {/*background: #ccc;*/
padding:0.5em 0 0;
/*border-radius: 10px;*/
margin-bottom: 2em;
}

nav span.logo{float: left;
	line-height: 1.5em;
	font-size: 2em;
	padding:0.2em 2em 0.5em 0;

}

nav span.logo a{color:#029acf;
	text-decoration: none;
	display: block;
}

h2:first-child{color:#029acf;}
h2{font-weight: normal;}

nav span.login-logout{
	float: right;
	padding:0.5em 0 0 2em;
}

nav span.login-logout form{padding:0; margin:0;}

nav .clr{clear:both;}
nav ul{margin:0;
padding:0;
list-style: none;
float:left;}
.tabrow {
  position: relative;
}
/*
.tabrow:after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #AAA;
  z-index: 1;
}

.tabrow:before {
  z-index: 1;
}
*/
.tabrow li {
    position: relative;
  z-index: 0;
}
nav ul.tabrow li.selected,
nav ul.tabrow li.selected:hover {
  z-index: 2;
  /*border-bottom-color: #eee;*/
  border-bottom: 5px solid #029acf;
}
nav ul.tabrow li:hover{
	border-bottom: 5px solid #999;
}

/*
.tabrow li:before,
.tabrow li:after {
  position: absolute;
  bottom: -1px;
  width: 6px;
  height: 6px;
  content: " ";
}
.tabrow li:before {
  left: -7px;
}
.tabrow li:after {
  right: -7px;
}
.tabrow li:after, .tabrow li:before {
  border: 1px solid #999;
}

.tabrow li:before {
  border-bottom-right-radius: 6px;
  border-width: 0 1px 1px 0;
}
.tabrow li:after {
  border-bottom-left-radius: 6px;
  border-width: 0 0 1px 1px;
}

.tabrow li:before {
  box-shadow: 2px 2px 0 #aaa;
}
.tabrow li:after {
  box-shadow: -2px 2px 0 #aaa;
}
.tabrow li.selected:before {
  box-shadow: 2px 2px 0 #eee;
}
.tabrow li.selected:after {
  box-shadow: -2px 2px 0 #eee;
}
*/

.tabrow li {
	/*float:left;
    display: inline;*/
    display: inline-block;
margin:0 10px 0 0;
padding: 0;
/*border-top-left-radius: 10px;
border-top-right-radius: 10px;
border: 1px solid #999;
background: #aaa;
  background: linear-gradient(to bottom, #ECECEC 50%, #aaa 100%);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
  text-shadow: 0 1px #FFF;
  margin: 0 -10px;*/
}
.tabrow li:first-child{margin-left: 0;}
nav ul li.button{padding-top: 2em;}
nav ul li a{font-size: 1.2em;
display: block;
padding:1em 1.5em;
text-decoration: none;
color: #333;
}

nav ul li a:hover{text-decoration: none;}

nav ul li.selected{
	background: #eee;
}


nav ul li.selected a{
	color:#000;
}

@media only screen and (min-width: 640px) {

	input#myAddress,
	input#email{width:30em;}

	.address-list .addressObj button.delete{ 
		float: right;
		margin:0 0 1em 1em;
	}
	div.balancesInfo{float:left;}
	div.emailMe{float:right; padding-top:0.6em;}
	div.txnInfo{clear:both;}
} /* @media */

@media only screen and (max-width: 640px) {

	nav ul{width:100%;}
	nav ul li{width:100%;}
	nav ul.tabrow li{margin-left: 0; margin-right: 0;}
} /* @media */


.demo #screenshots section{padding-top: 1.5em; margin-bottom: 2em;}

.demo #screenshots section:nth-child(odd){
	background-color: #ddd;
	padding-bottom: 3em;
}

.demo #screenshots,
#notificationEmail{
	text-align: center;
}

#notificationEmail{ background: #ccc;
	border-radius:0 0 10px 10px;
	padding:1em 0 2em;
}

#notificationEmail:first-child{border-radius: 10px;}

.demo #screenshots p{max-width: 60em; margin:0 auto 2em;}
.demo #screenshots p img{height: 50%; width:50%; display: block; margin:1em auto;}

img.right{float:right; margin:0 0 7em 1em; width:50%; height: 50%;}


p#logout{text-align: center; font-size: 1em;}
p#logout a{display: block; background: #eee; line-height: 2em; border-radius: 5px;}

nav,
#main{
	width:90%;
	margin:0 auto;
	overflow: hidden;
	text-overflow: ellipsis;
}

#randomAddressWrapper{
	text-align: center;
	padding:0 1em 1em 1em;
	margin:0 0 1em 0;
	border-bottom:1px solid #000;
}


button{font-size:1.1em; padding:0.5em; margin-bottom:0.5em;}
input,
button{border-radius: 5px;
}

.btn{
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	border-color: #000;
	border-width: 1px;
}

.btn:hover{background-image: none;}

.btn[disabled]{
	background-color: #bbb;
	background-image:linear-gradient(to bottom, #bbbbbb 0%, #9c9c9c 100%)
}

.btn-info{
	background-color: #029acf;
	background-image: linear-gradient(to bottom, #029acf 0%, #016d92 100%);
	color:#fff;
}

.btn-success{
	background-color: #469408;
	color:#fff;
	background-image: linear-gradient(to bottom, #469408 0%, #2b5a05 100%);
}


.btn-danger{
	background-color: #d9534f;
	color: #fff;
	background-image: linear-gradient(to bottom, #d9534f 0%, #c9433f 100%)
}

.btn-default{
	background-color: #fff;
	color:#000;
	background-image: linear-gradient(to bottom, #fff 0%, #ddd 100%);
}

#randomAddressAndButton{padding:0 0 0 0;  }

span#randomAddress{
	font-weight: bold; font-size: 150%;
	font-family: Courier, Monaco, monospace;
}
#apiLimits,
#addAddressesWrapper{
	padding-bottom: 1em;
	border:1px solid #000;
	border-radius: 10px;
	background: #fff;

}

#apiLimits{text-align: center;}

#myAddressForm{	
	text-align: center; 
	clear:both;
	padding:0 1em 0 1em;
}

#addressesWithWebhooks button{font-size:0.5em; padding:0.5em;}



#notificationEmail input,
#myAddressForm input {font-size: 1.1em; margin-right: 1em; margin-bottom:0.5em; padding:0.5em; 
	text-align: center;
}
h2{clear:both; padding-top: 0.5em; margin-top: 0.5em;
 font-size: 200%;
 line-height: normal;
text-align: center;}
h4{ font-size: 100%}

section h4{text-align: center;}

.crashCourse{max-width:40em; margin-left: auto; margin-right: auto;
 }

.crashCourse p{line-height: 170%; font-size: 140%;}

#main ul{line-height: 170%;}

#main ul li{margin-bottom: 1em;}

div#addressesWrapper{
	border: 1px solid #000; 
	border-radius: 10px;
	margin-bottom: 2em;
	padding-bottom: 0;
	background: #fff;

	text-overflow: ellipsis;
}

ul.address-list{
	list-style: none;
	margin:0 0 1em 0;
	padding:0;
}

ul.address-list li{margin:0 0 0 0;}

div.clr{
	clear:both;
}

.address-list .addressObj{
	clear:both; 
	padding:1em 1em 1em 2em;
	margin-bottom: 0;
	line-height: 180%;
}

.address-list .addressObj header{
	background: #029acf;
	margin:-1em -1em 1em -2em;
	padding:1em 1em 1em 2em;
	color: #fff;
}

.address-list .addressObj header a{color: #fff;}

.address-list .addressObj:first-child header{border-radius: 10px 10px 0 0}

.address-list .addressObj:nth-child(even){
	background-color: #ddd;
}

.address-list .addressObj:last-child{
	border-bottom: 1px solid #000;
}


.address-list .addressObj button.delete span{color: #fff; font-weight: 700; padding:0 0 0 1em;}

.address-list .addressObj .emailMe button{float:none; margin:1em 0;}

.address-list .addressObj span{
	padding:0 1em 1em 0;
}

.address-list .addressObj .address{font-weight: normal;
	display: block;
	font-family: Courier, Monaco, monospace;
}
.address-list .addressObj .address a{font-size: 1.5em;}


.address-list .addressObj span.txn{text-overflow: ellipsis;}
.address-list .addressObj span.txn::before{content: "This address is in at least one transaction, such as: ";}

.address-list .addressObj span.balance{color:#0a0;}
.address-list .addressObj span.balance::before{ content: "Confirmed Balance: "; }

.address-list .addressObj span.unconfirmed_balance{color:#a00; white-space: nowrap; }
.address-list .addressObj span.unconfirmed_balance::before{ content: "Unconfirmed Balance: "; }

.address-list .addressObj span.lastUpdated{ display: block; padding-bottom:0;}
.address-list .addressObj span.lastUpdated button.refresh{margin-left: 1em;}
.address-list .addressObj span.lastUpdated::before{ content: "Last Updated: "; }

.address-list .addressObj span.random{font-style:italic;}
.address-list .addressObj span.random::before{ content: "Random? "; }

.address-list .addressObj span.note{ font-weight: normal;}
.address-list .addressObj span.note::before{ }

.address-list .addressObj span.confirmations{display: block;}
.address-list .addressObj span.confirmations::before{ content: "This transaction has: "; }
.address-list .addressObj span.confirmations::after{ content: " Confirmation(s)"; }

.address-list .addressObj span.preference{}
.address-list .addressObj span.preference::before{ content: "This transaction is UNconfirmed and the preference of miners for confirming it is: "; }

.address-list .addressObj span.confidence{display: block;}

.address-list .addressObj span.webhookId::before{ content: "Email notifications are now set up for this address via webhook ID: "; }


#github{text-align: center;	}
#github p{}

div#demoLogin{text-align: center;}

